*{
    margin: 0;
}
.brand{
    margin: 3em 0;
}
.brand img{
    width:50%;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.topnav {
    background-color: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width:80%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    border-radius:10px;
    text-align: center;
}
.topnav a {
    display: inline-flex;
    float:center;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 1s ease-out;
}
.topnav a:hover {
    background-color: #ddd;
    border-radius:10px;
    color: black;
}
.topnav .icon {
    display: none;
}
.content{
    width:80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    margin-left:auto;
    margin-right:auto;
    padding:20px 20px;
}
.content .card{
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border:none;
    margin-left:auto;
    margin-right:auto;
}
.content .card .btn{
    float: right;
}
.footer{
    width:80%;
    height:50px;
    display:block;
    margin: 20px auto 0 auto;
    box-shadow: 0 0 8px 2px rgb(1, 1, 1, 0.1);
    text-align: center;
    border-radius: 10px;
}
.footer p{
    padding: 10px;
    align-items: center;
}
.footer a{
    text-decoration:none;
    color:inherit;
}
.footer .fas{
    color:#877;
    padding: 9px 0 0 0;
}
  /* Media Query */
@media screen and (max-width: 600px) {
    .content{
        width:80%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:20px;
        margin-left:auto;
        margin-right:auto;
        padding:20px 20px;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}