*{
    margin: 0;
}
.brand{
    margin: 3em 0;
}
.brand img{
    width:50%;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.topnav {
    background-color: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width:80%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    text-align: center;
}
.topnav a {
    display: inline-flex;
    float:center;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 1s ease-out;
}
.topnav a:hover {
    background-color: #ddd;
    border-radius:10px;
    color: black;
}
.topnav .icon {
    display: none;
}

  /* Media Query */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}